/* Archivo Header Font, Inter Body Font */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,100..900;1,125,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables */
:root {
    --background-dark: #000000;
    --background-light: #ffffff;
    --text-dark: #000000;
    --text-light: #ffffff;
    --body-font: "Inter";
    --header-font: "Archivo";
}

html {
    scroll-behavior: smooth;
}

/* Body */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        scale: 25%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        scale: 100%;
    }
}
body {
    margin: 2rem 0rem 2rem 0rem !important;
    background-color: var(--background-dark) !important;
}

/* Navigation Bar */
.navigation-bar {
    opacity: 0;
    animation: fadeInUp 0.75s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.navigation-bar li {
    list-style: none;
}
.navigation-bar .nav-link {
    /* Placement Styling */
    text-decoration: none;
    color: var(--text-light);
    margin: 0 10px 0 10px;

    /* Area Styling */
    padding: 10px 20px;
    border-radius: 1rem;

    /* Font Styling */
    font-family: var(--body-font);
    font-size: 16px;

    /* Animation Control */
    transition: color 0.5s ease, background-color 0.5s ease,
        box-shadow 0.3s ease;
}
.navigation-bar .nav-link:hover {
    color: var(--text-dark);
    background-color: var(--background-light);
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
}
.navigation-bar .nav-link:active {
    color: var(--text-light);
    background-color: var(--background-dark);
    border-color: var(--background-light);
}
.navigation-bar .nav-link:focus {
    color: var(--text-light);
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
}
.nav-active {
    color: var(--text-dark) !important;
    background-color: var(--background-light) !important;
}

/* Main Header Section */
.main-header {
    margin: 0rem 2rem;
}
.header-content {
    opacity: 0;
    animation: fadeInUp 0.75s ease-out forwards;
    animation-delay: 0.25s;

    padding: 4rem;
    border: 2px solid var(--background-light);
    border-radius: 2rem;
    color: var(--text-light);

    transition: box-shadow 0.3s ease;
}
.header-content h1 {
    font-family: var(--header-font);
    font-size: 7rem;
    font-stretch: expanded;
    font-weight: 400;
    margin: 0;
}
.header-content p {
    font-family: var(--body-font);
    font-size: 1.5rem;
}
.header-content a {
    text-decoration: none !important;
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--background-light);

    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--background-light);

    transition: color 0.5s ease, background-color 0.3s ease,
        box-shadow 0.3s ease, border-color 0.3s ease;
}
.header-content a strong {
    display: inline-block;
    transition: transform 0.3s ease;
}
.header-content a:hover strong {
    transform: rotate(90deg);
}
.header-content a:hover {
    color: var(--text-light);
    background-color: var(--background-dark);
    border: 2px solid var(--background-dark);
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
    cursor: pointer;
}
.header-content a:active {
    color: var(--text-dark);
    background-color: var(--background-light);
    border: 2px solid var(--background-dark);
}
.header-content a:focus {
    color: var(--text-light);
    background-color: var(--background-dark);
    border: 2px solid var(--background-dark);
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
}
.header-content:hover {
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
}

/* Projects Section */
.projects-content {
    opacity: 0;
    animation: fadeInUp 0.75s ease-out forwards;
    animation-delay: 0.5s;

    margin: 2rem 25rem 0rem 25rem;
    padding: 4rem;
    border: 2px solid var(--background-light);
    border-radius: 2rem;
    color: var(--text-light);

    transition: box-shadow 0.3s ease;
}
.projects-content h1 {
    font-family: var(--header-font);
    font-size: 4rem;
    font-stretch: expanded;
    font-weight: 400;
    margin: 0;
}
.projects-content p {
    font-family: var(--body-font);
    font-size: 1.5rem;
}
.projects-content:hover {
    box-shadow: 0 0 10px var(--background-light),
        0 0 15px var(--background-light);
}
